<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Character</title>
    <link rel="stylesheet" href="styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles/character.css">
    <script src="js/jquery.js"></script>
    <script src="js/character.js"></script>
</head>
<body>
    <div id="wrapper">
        <div class="container">
            
        </div>    
    </div>
        
</body>
</html>