<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>create account</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/create.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/styles/create.css">

</head>

<body>
    <div class="container">
        <div class="container">
            <div class=row>
                <div class="col md-12">
                    <div id="loginDiv">
                        <div class=row>
                            <div class="col-md-1">
                                <div id="torch-left">
                                    <img class="torchgif" src="images/torch.gif">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h1 id=name>Create a new Account</h1>
                            </div>
                            <div class="col-md-1">
                                <div id="torch-right">
                                    <img class="torchgif" src="images/torch.gif">
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <div class=newUser>
                                    <h4 class="subHeader">Create a unique Username</h4>
                                    <h5 class="requirements">This must be between 5-15 characters</h5>

                                    <input id="newUsername" type="textbox" placeholder="exampleusername">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="newUser">
                                    <h4 class="subHeader">Create a unique password</h4>
                                    <h5 class="requirements">At least 5 characters and unique to you!</h5>
                                    <input id="newPass" type="password textbox" placeholder="*******">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button id="newUserButton">Create</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>