<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/login.js"></script>
    <link rel="stylesheet" href="/public/styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/styles.css">
</head>
<body>
    <h1>HELLO!</h1>
    
</body>
</html>