<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/login.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
</head>

<body>
    <div class="container">
         <div class="container">
            <div class=row>
                <div class="col md-12">
                    <div id="loginDiv">
                        <div class=row>
                            <div class="col-md-1">
                                <div id="torch-left">
                                    <img class="torchgif" src="images/torch.gif">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h1 id=name>Hellcrawl</h1>                           
                            </div>
                            <div class="col-md-1">
                                <div id="torch-right">
                                    <img class="torchgif" src="images/torch.gif">
                                </div>
                            </div>
                        </div>
                        <div id="text-input">
                            <h3 class="userPass">Username</h1>
                            <input id="user" type="textbox">
                            <h3 class="userPass">Password</h1>
                            <input id="pass" type="textbox">
                            <div id="submitDiv">
                                <button id="submit">Submit</button>
                                <button id="create">Create Account</button>
                             </div>              
                        </div>
                    </div>
                </div>
            </div>
    </div>

</body>

</html>