<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/js/jquery.js"></script>
   
  

    <script src="/js/map.js"></script>
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="battle.css">
 
    <link rel="stylesheet" type="text/css" href="/styles/map.css">


</head>

<body>
    <div class="container">

        <div id=map>

            <div id="controller">
                <button class="arrow direct" id="up">Up</button>
                <br>
                <button class="direct" id="left">Left</button>
                <button class="direct" id="right">Right</button>
                <br>
                <button class="direct" id="down">Down</button>
            </div>


            <div id="textBox">
                <h3 id="text">

            </div>
            <div id="characterAnimation"></div>
            <div id="buttonDiv">
                <button id="start">Start Battle!</button>
            </div>
            <div id="stats">
                <div class="row">
                    <div class="col-md-12">
                        <h3 id="statsHeader">Character Stats</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="hpDiv">
                            <img class="heartGif" src="images/heartGif.gif">
                            <h3>HP: </h3>
                        </div>
                        <div id="scoreDiv">
                            <img class="coinGif" src="images/coingif.gif">
                            <h3>Score: </h3>
                        </div>
                    </div>
                </div>

            </div>

         

        </div>

    </div>
    <div id="renderBattle">
        <div id="battleScreen">
            <canvas id="adventurerAnimationID" width="160" height="130"></canvas>
            <canvas id="demonAnimationID" width="600" height="450"></canvas>
            <canvas id="minotaurAnimationID" width="250" height="180"></canvas>
        </div>



        <div id="commands">
            <div class="commands" id="attackCommand">ATTACK</div>
            <div class="commands" id="itemsCommand">ITEMS</div>
            <div class="commands" id="runCommand">RUN</div>
        </div>
    </div>


    <script src="./sprites.js" async defer></script>

</body>

</html>