#battleScreen{
    width:1000px;
    height:546px;
    border: 1px solid black;
    margin: 0px auto;
    position: relative;
    background-image: url(./background.jpg);
    margin-bottom: 10px;
}
#adventurerAnimationID{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#demonAnimationID{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#minotaurAnimationID{
    position: absolute;
    bottom: 0px;
    right: 300px;
}
#ghostAnimationID {
    position: absolute;
    bottom: 0px;
    right: 300px;
}
#commands{
    width:1200px;
    height:250px;
 
    margin: 0px auto;
    position: relative;
}
#attackCommand{
    background-repeat: no-repeat;
    background-image: url("/images/attackcommand.png");
    position: absolute;
    width:250px;
    height:100px;
    left: 450px;
    top: 20px;

}
#itemsCommand{
    position: absolute;
    height:100px;
    width:250px;
    bottom:0px;
    left:0px;
   

}
#runCommand{
    background-repeat: no-repeat;
    background-image: url("/images/runaway.png");
    position: absolute;
    height:100px;
    width:250px;
    bottom:0px;
    right:0px;


}
#renderBattle{
    
    margin: auto;
    margin-top : 50px;
    display: none;
    
    
}
.commands{
    
    border: 10px solid black;
    border-radius: 8px;
    background-color: grey;
    font-size: 32px;
    text-align: center;
    padding-top: 20px;
    
}
.commands:focus{
    outline: none;
}
.commands:hover{
    background-color: rgb(68, 66, 66)
}

.progress-bar{
    width: 50%;
}

#playerHP{
    position: absolute;
    width: 300px;
    height: 50px;
    bottom: 200px;
    left: 100px;
    border: 2px solid black;
    
    background-color: grey;
}
#inner{
    width: 100%;
    height: 46px;
    background-color: rgb(190, 30, 30);
    opacity: 0.8;
    color: white;
    padding: 10px;
    
}
#textHP{
    font-size: 20px;
    color: white;
    position: absolute;
    width: 300px;
    height: 50px;
    bottom: 190px;
    left: 115px;

}
#enemyHP{

    position: absolute;
    width: 300px;
    height: 50px;
    bottom: 200px;
    right: 100px;
    border: 2px solid black;
    
    background-color: grey;
}
#innerEnemy{
    width: 100%;
    height: 46px;
    background-color: rgb(190, 30, 30);
    opacity: 0.8;
    color: white;
    padding: 10px;
}
#textEnemy{
    font-size: 20px;
    color: white;
    position: absolute;
    width: 300px;
    height: 50px;
    bottom: 190px;
    right: 80px;

}