@font-face {
  font-family: "custom-font";
  src : url("/magnav.ttf") format("truetype");
}
body.customfont{
  font-family: "custom-font";
}
body{
  background-image: url("../images/dark-honeycomb.png");
  font-family: 'Righteous', cursive;
}

#loginDiv{
  width: 90%;
  margin: auto;
  text-align: center;
  height: 700px;
  background-image: url("../images/background.png");
  border : 10px solid black;
}
.torchgif{
  width: 100px;
  height: 150px;
}
#torch-right{
  float:right;


  
}

input:focus{
  outline: none;
}

button:focus{
  outline: none;
}
button:hover{
  background-color: grey;
} 
#torch-left{
  float: left;


}

#name{
  margin-top: 40px;
  z-index: 1000;
  text-decoration: underline;
}
#submitDiv{
  margin-top: 20px;
}

