body{
    background-image: url("../images/dark-honeycomb.png");
    vertical-align: middle;
}

.container{
    z-index: 10000;
    color: red;
    border-width: 5px;
    border-style: inset;
    border-color: #91A3B0;
    background: darkgrey;
    width: 600px;
}

hr {
    border-top: 2px solid #848482;
}

#emptySpace {
    height: 250px;
}